<!DOCTYPE html>
<html>
  <head>
    <title>Bestflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>

    <script src="https://kit.fontawesome.com/e93199a89e.js" crossorigin="anonymous"></script> 
    <meta property="og:title" content="BestFlix"/>
    <meta property="og:image" content="https://i.imgur.com/GIWH3kw.png"/>
    <meta property="og:description" content="A fullstack application clone based off of the popular streaming site, Netflix. Built using Ruby on Rails, Postgresql, React/Redux, and HTML/CSS "/>
    <meta property="og:url" content="https://bestflix1.herokuapp.com/#/"/>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
